.task-list-wrapper{
    background-color: #fff;
    margin: 10vh auto;
    width: 40%;
    border-radius: 5px;
    box-shadow: 2px 2px 12px #ccc;
    max-height: 80vh;
    text-align: left;
    position: relative;
}

.task-list-wrapper .header{
    border-bottom: 2px solid #ccc;
    padding-left: 20px;
    padding-top: 5px;
}

.tasks-list{
    padding-left: 30px;
    overflow: auto;
    height: 50vh;
}

.tasks-list .task{
    margin: 20px;
    width: 85%;
    position: relative;
}
.task-status{
    position: absolute;
    right: 40px;
    z-index: 200;
}
.status-icon {
    float: right;
    cursor: pointer;
}
.task-title{

    position: relative;
}
.category-icon{
    position: absolute;
    height: 10px;
     width: 10px;
     border-radius: 50%;
     left: -15px;
     top: 7px;
}

.green  {
    color: forestgreen;
}

.done-task  {
    opacity: 0.4;
}
.add-task-btn{
    position: absolute;
    right: -35px;
    font-size: 64px;
    top: -50px;
    color: #3F51B5;
}

.logout-btn{
    font-size: 32px;
    margin-right: 20px;
    margin-top: 20px;
    color: red;
    cursor: pointer;
}
.username-span{   
    font-size: 20px;
    top: 12px;
    right: 10px;
    position: relative;
    color: #009688;
    font-weight: 500;
}