.App {
  text-align: center;
  background-color: #f3f3EE;
  height: 100vh;
}
*{
  font-family: 'Raleway', sans-serif;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 2px 5px 14px #000
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login{
  width: 40%;
  margin: auto;
  background-color: #5C6BC0;
  text-align: left;
  color: #fff;
}

.category-wrapper{
  overflow: auto;
  height: 50px;
  padding-top: 10px;
  flex-flow: nowrap;
  display: flex;
}

.category-badge{
  padding: 5px 10px 7px 10px;
  color: #fff;
  border-radius: 15px;
  white-space: nowrap;
  cursor: pointer;
}